<!--This is really just a rough draft (July 14) and should be fleshed out / adjusted / re-written sometime in the future.-->
<div>
    <h3>What is MarineMap?</h3>
    <p>
        MarineMap is a web-based tool for open and participatory spatial planning in the marine environment.  
    </p>
    <h3>What is the purpose of Oregon MarineMap?</h3>
    <p>
        Oregon MarineMap is being developed in support of Goal 19 of Oregon's Statewide Planning which requires the state "to conserve marine resources and ecological functions for the purpose of providing long-term ecological, economic, and social value and benefits to future generations." 
    </p>
    <p>
        Oregon MarineMap will facilitate the positioning of nearshore marine habitats and renewable ocean energy sites through visualization, analysis, and collaboration.  The uses of these nearshore marine habitats and energy sites will be guided by a comprehensive Territorial Sea Plan developed by the state of Oregon. 
    </p>
    <h3>For more Information on the Territorial Sea Plan:</h3>
    <p>

        <a href="http://www.oregon.gov/LCD/OCMP/Ocean_TSP.shtml" target="_blank">Territorial Sea Plan TOC</a><br>
    </p>
    <h3>For more information on the Oregon MarineMap Project Partners</h3>
    <p>
        <a href="http://marinemap.org/" target="_blank">MarineMap Consortium</a><br>
        <a href="http://www.lcd.state.or.us/" target="_blank">Oregon Department of Land Conservation and Development</a><br>
        <a href="http://www.dfw.state.or.us/" target="_blank">Oregon Department of Fish and Wildlife</a><br>

    </p>
    <br>
</div>


