
{% block Header %}
<h1 align="center">{{ aoi.name }}</h1>
<h1 align="center">Comprehensive Economic Report</h1>

<div class="img" align="middle">
    <img align="top" src="{% url staticmap-show 'default' %}?uids={{ noaa.aoi.uid }}&amp;autozoom=true&amp;width=308&amp;height=400">
    &nbsp; &nbsp;
    <img align="top" src="{% url staticmap-show 'default' %}?uids={{ noaa.aoi.uid }}&amp;width=154&amp;height=200&amp;show_extent=True">
</div>
{% endblock Header %}

{% include 'econ/commercial_noaa_report.html' %}

{% include 'econ/commercial_feam_report.html' %}

{% include 'econ/charter_report.html' %}

{% include 'econ/recreational_report.html' %}


<style type="text/css">
div.img {
    zoom: 80%;    
    margin-left: auto;
    margin-right: auto;
}
</style>