{% extends 'common/panel.html' %}
{% block head %}
	<link rel="stylesheet" href="{{MEDIA_URL}}projects/nc_mlpa/css/mpa_hab_representation.css" type="text/css" media="all" title="no title" charset="utf-8"/>
{% endblock head %}
{% block title %}{{aes.name}} Alternative Energy Analysis Report{% endblock title %}
{% block panel %}
    <div class="tabs">
        <ul>
            <li><a href="#Instructions"><span>Instructions</span></a></li>
            <li><a href="{% url aes_analysis aes.id 'geo' %}"><span>Geographic</span></a></li>
            <li><a href="{% url aes_analysis aes.id 'phy' %}"><span>Physical</span></a></li>
            <li><a href="{% url aes_analysis aes.id 'bio' %}"><span>Biological</span></a></li>
            <li><a href="{% url aes_analysis aes.id 'hum' %}"><span>Human Uses</span></a></li>
        </ul>
        <div id="Instructions">
            <h3>Alternative Energy Site Analysis Instructions</h3>
            <p>This page contains Alternative Energy Site analysis information specific to your Area of Interest. </p>
        </div>
    </div>
{% endblock panel %}