{% extends 'geo_report.html' %}
{% block title %}{{aes.name}} Geographic Analysis{% endblock title %}

<!-- Inheriting General Spatial Characteristics from geo_report -->

{% block GeographicSetting %}
<h3>Geographic Setting</h3>
<div class='freetext'>
<p>
<table  style='width:450px' class='aoi_analysis_container'>
    <tbody>
        <tr class="grey">
            {% if county.1 %}
            <td><b>Adjacent Counties</b></td>
            {% else %}
            <td><b>Adjacent County</b></td>
            {% endif %}
            <td><b>Nearest Urban Growth Boundaries</b></td>
        </tr>
        <tr>
            <td>{{county.0}}</td>
            <td>{{ nearest_ugbs.0.0}} &nbsp; ({{ nearest_ugbs.0.1|floatformat:'1'}} {{length_units}})</td>
        </tr>
        <tr>
            <td>{% if county.1 %}{{county.1}}{% endif %}</td>
            <td>{{ nearest_ugbs.1.0}} &nbsp; ({{ nearest_ugbs.1.1|floatformat:'1'}} {{length_units}})</td>
        </tr>
        <tr>
            <td></td>
            <td>{{ nearest_ugbs.2.0}} &nbsp; ({{ nearest_ugbs.2.1|floatformat:'1'}} {{length_units}})</td>
        </tr>
        <p>
    
        <tr class="grey">
            <td colspan="2"><b>Nearest Ports</b></td>
        </tr>
        {% for port in ports%}
        <tr>
            <td colspan="2">{{port.0}}  ({{port.1|floatformat:'1'}} {{length_units}})</td>
        </tr>
        {% endfor %}
        <p>
        
        <tr class="grey">
            <td colspan="2"><b>Nearest Marinas</b></td>
        </tr>
        {% for marina in marinas %}
        <tr>
            <td colspan="2">{{marina.0}}  ({{marina.1|floatformat:'1'}} {{length_units}})</td>
        </tr>
        {% endfor %}
        <p>
        
    </tbody>
</table>
</div>
{% endblock GeographicSetting %}

{% block ExportableReports %}
<p>
<div style='font-size: small'>
    <a target='_blank' href='{% url printable_aes_report aes.id "geo" %}'>Printable Geography Report</a>
    &nbsp; 
    <!--<a target='_blank' href='{% url pdf_aes_report aes.id "geo" %}'> (View PDF) </a>    -->
</div>
<p>
<div style='font-size: small'>
    <a target='_blank' href='{% url printable_aes_report aes.id "all" %}'>Printable Comprehensive Report</a>
    &nbsp; 
    <a target='_blank' href='{% url pdf_aes_report aes.id "all" %}'> (PDF) </a> 
    
    <br>(Comprehensive reports combine Geographical, Physical, Biological, 
    and Human Use reports for a given Energy Site into a single 
    printable and/or exportable document.)</br>   
</div>
<p>
{% endblock ExportableReports %}


