{% extends 'common/panel.html' %}
{% block title %}{{aes.name}} Biological Analysis{% endblock title %}
{% block panel %}
<h3>Intertidal Biological Characteristics</h3>
<div class='freetext'>
<br>
<table  style='width:450px' class='aoi_analysis_container'>
    <tbody>
        <tr class="grey">
            <td><b>Pinniped Haulouts</b></td>
            <td></td>
            <td><b>Steller Sea Lion Rookeries</b></td>
        </tr>
        <tr>
            {% if num_haulouts == 0 %}
            <td>No ({{num_haulouts}} haulouts)</td>
            {% else %}
            <td>Yes ({{num_haulouts}} haulouts)</td>
            {% endif %}
            <td></td>
            {% if num_rookeries == 0 %}
            <td>No ({{num_rookeries}} rookeries)</td>
            {% else %}
            <td>Yes ({{num_rookeries}} rookeries)</td>
            {% endif %}
        </tr>
        {% if num_haulouts != 0 %}
        <tr class="grey">
            <td colspan="3"><b>Pinniped Haulout Details &nbsp; </b></td>
        </tr>
        {% endif %}
    </tbody>
</table>
<table  style='width:450px' class='aoi_analysis_container'>
    <tbody>
        {% for site in haulout_sites %}
            <tr>
                <td colspan="3">{{site.0.0}} , ({{site.0.1}})</td>
            </tr>
            {% for species in site.1 %}
            <tr class="grey">
                <td colspan="3">{{species}}</td>
            </tr>
            {% endfor %}
        {% endfor %}
        <tr><td></td><td></td><td></td><td></td></tr>
    </tbody>
</table>

<br></br>
<table  style='width:450px' class='aoi_analysis_container'>
    <tbody>
        <tr class="grey">
            <td colspan="2"><b>Critical Steller Sea Lion Habitats &nbsp; </b></td>
        </tr>
        {% if num_sealion_habs == 0 %}
        <tr>
            <td colspan="2">None &nbsp;</td>
        </tr>
        {% else %}
        {% for hab in sealion_habs %}
        <tr class="{% cycle '' 'grey' %}">
            <td>{{hab.0}}</td>
            <td>{{hab.1}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

<br></br>
<table  style='width:450px' class='aoi_analysis_container'>
    <tbody>
        <tr class="grey">
            <td colspan="3"><b>Bird Colonies &nbsp; </b></td>
        </tr>
        <tr>
            {% if bird_colonies == 0 %}
            <td colspan="3">No ({{bird_colonies}} colonies) &nbsp;</td>
            {% else %}
            <td colspan="3">Yes ({{bird_colonies}} colonies) &nbsp;</td>
            {% endif %}
        </tr>
        {% if bird_colonies != 0 %}
        <tr class="grey">
            <td colspan="3"><b>Bird Colony Details &nbsp; </b></td>
        </tr>
        {% endif %}
    </tbody>
</table>
<table  style='width:450px' class='aoi_analysis_container'>
    <tbody>
        {% for details in bird_details %}
                <tr>
                    <td colspan="3">{{details.0.0}} , (Colony #{{details.0.1}})</td>
                </tr>
                {% for bird in details.1 %}
                <tr class="grey">
                    <td colspan="3">{{bird}}</td>
                </tr>
                {% endfor %}
        {% endfor %}
        <tr><td></td><td></td><td></td><td></td></tr>
    </tbody>
</table>
</div>

<h3>Subtidal Biological Characteristics</h3>
<div class='freetext'>
<br>
<table  style='width:450px' class='aoi_analysis_container'>
    <tbody>
        <tr class="grey">
            <td colspan="3"><b>Habitat Type & Proportions</b></td>
        </tr>
        {% for details in habitat_proportions %}
        <tr class="{% cycle '' 'grey' %}">
            <td colspan="3">{{details.0|floatformat:'2'}} % &nbsp; {{details.1}} &nbsp; ({{details.2|floatformat:'2'}} {{area_units}})</td>
        </tr>
        {% endfor %}
        <br></br>
        <tr class="grey">
            <td colspan="3"><b>Predicted Fish Species <br></br>(Provided by <a target="_blank" href="http://www.nwfsc.noaa.gov/">NOAA's Northwest Fisheries Science Center)</a></b></td>
        </tr>
        {% for fish in fish_list %}
        <tr class="{% cycle '' 'grey' %}">
            <td colspan="3">{{fish}}</td>
        </tr>
        {% endfor %}
        <br></br>
        <tr class="grey">
            <td><b>Kelp Survey Year</b></td>
            <td colspan="2"><b>Kelp Proportions</b></td>
        </tr>
        {% if kelp_data.0.2 == default_value %}
        <tr>
            <td>{{kelp_data.0.0}}</td>
            <td></td>
            <td></td>
        </tr>
        {% else %}
        {% for data in kelp_data %}
        <tr class="{% cycle '' 'grey' %}">
            <td>{{data.0}}</td>
            <td>{{data.1|floatformat:'2'}} {{area_units}}</td>
            <td>{{data.2|floatformat:'2'}} %</td>
        </tr>
        {% endfor %}
        {% endif %}
        <br></br>
        <tr class="grey">
            <td><b>Seagrass Area</b></td>
            <td><b>Green Sturgeon</b></td>
            <td><b>Green Sturgeon Area Percentage</b></td>
        </tr>
        <tr>
            <td>{{seagrass_area|floatformat:'2'}} {{area_units}}</td>
            <td>{{green_sturgeon}}</td>
            <td>{{green_sturgeon_perc|floatformat:'1'}} %</td>
        </tr>
    </tbody>
</table>
</div>

<h3>Terrestrial / Estuarine Biological Characteristics</h3>
<div class='freetext'>
<br>
<table  style='width:450px' class='aoi_analysis_container'>
    <tbody>
        <tr class="grey">
            <td><b>Nearest Western Snowy Plover Critical Habitat &nbsp; </b></td>
            <td><b>Nearest Marbled Murrelet Critical Habitat &nbsp; </b></td>
        </tr>
        <tr>
            <td>{{nearest_snowy_plover|floatformat:'1'}} {{length_units}} &nbsp; </td>
            <td>{{nearest_marbled_murrelet|floatformat:'1'}} {{length_units}} &nbsp; </td>
        </tr>
        <tr class="grey">
            <td><b>Nearest Coho Populated Stream</b></td>
            <td></td>
        </tr>
        <tr>
            <td>{{nearest_coho_stream|floatformat:'1'}} {{length_units}} &nbsp; </td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>

<br></br>
<div style='font-size: small'>
    <a target='_blank' href='{% url printable_aes_report aes.id "bio" %}'>View Printable Biology Report</a>
    &nbsp; 
    <!--<a target='_blank' href='{% url pdf_aes_report aes.id "bio" %}'> (View PDF) </a>    -->
</div>
<br></br>
<div style='font-size: small'>
    <a target='_blank' href='{% url printable_aes_report aes.id "all" %}'>View Printable Comprehensive Report</a>
    &nbsp; 
    <a target='_blank' href='{% url pdf_aes_report aes.id "all" %}'> (View PDF) </a>    
</div>
<br></br>

{% endblock panel %}

