
<h1 align="center">{{ geo.aes.name }}</h1>
<h1 align="center">Comprehensive Analysis Report</h1>

<div class="img" align="middle" >
    <table width="100%">
        <tr>
            <td></td>
            <td>
                &nbsp; <img class="aoi" align="right" src="{% url staticmap-show 'default' %}?mpas={{ geo.aes.id }}&amp;autozoom=true&amp;width=308&amp;height=400">
            </td>
            <td></td>
        </tr>
    </table>
</div>

<div class='freetext'>

<!-- Geographic Report -->

<br></br>
<table class='marinemap-table' rules=rows>
    <thead>
        <tr>
            <th class="geoheader" colspan="10">Geographic Setting</font></th>
        </tr>
        <tr>
            <th colspan="1">Adjacent County</th>
            <th colspan="2">Distance to Nearest Railroad</th>
            <th colspan="2">Nearest Ports</th>
            <th colspan="3">Nearest Marinas</th>
            <th colspan="2">Nearest Incorporated Cities</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="1">{{geo.county.0}}</td>
            <td colspan="2">{{geo.railroad|floatformat:'1'}} {{geo.length_units}}</td>
            <td colspan="2">{{geo.ports.0.0}}  ({{geo.ports.0.1|floatformat:'1'}} {{geo.length_units}})</td>
            <td colspan="3">{{geo.marinas.0.0}}  ({{geo.marinas.0.1|floatformat:'1'}} {{geo.length_units}})</td>
            <td colspan="2">{{geo.cities.0.0}}  ({{geo.cities.0.1|floatformat:'1'}} {{geo.length_units}})</td>
        </tr>
        <tr>
            <td colspan="1">{{geo.county.1}}</td>
            <td colspan="2"></td>
            <td colspan="2">{{geo.ports.1.0}}  ({{geo.ports.1.1|floatformat:'1'}} {{geo.length_units}})</td>
            <td colspan="3">{{geo.marinas.1.0}}  ({{geo.marinas.1.1|floatformat:'1'}} {{geo.length_units}})</td>
            <td colspan="2">{{geo.cities.1.0}}  ({{geo.cities.1.1|floatformat:'1'}} {{geo.length_units}})</td>
        </tr>
        <tr>
            <td colspan="1">{{geo.county.2}}</td>
            <td colspan="2"></td>
            <td colspan="2">{{geo.ports.2.0}}  ({{geo.ports.2.1|floatformat:'1'}} {{geo.length_units}})</td>
            <td colspan="3">{{geo.marinas.2.0}}  ({{geo.marinas.2.1|floatformat:'1'}} {{geo.length_units}})</td>
            <td colspan="2">{{geo.cities.2.0}}  ({{geo.cities.2.1|floatformat:'1'}} {{geo.length_units}})</td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th colspan="2">Nearest Rocky Shore Areas</th>
            <th colspan="2">Nearest Electical Substations</th>
            <th colspan="3">Nearest Transmission Line (1993)</th>
            <th colspan="3">Nearest Transmission Line (2010)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2">{{geo.rockyshores.0.0}}  ({{geo.rockyshores.0.1|floatformat:'1'}} {{geo.length_units}})</td>
            <td colspan="2">{{geo.substations.0.0}}  ({{geo.substations.0.1|floatformat:'1'}} {{geo.length_units}})</td>
            <td colspan="3">{{geo.transmissionline1993|floatformat:'1'}} {{geo.length_units}}</td>
            <td colspan="3">{{geo.transmissionline2010.0.0}}  ({{geo.transmissionline2010.0.1|floatformat:'2'}} {{geo.length_units}})</td>
        </tr>
        <tr>
            <td colspan="2">{{geo.rockyshores.1.0}}  ({{geo.rockyshores.1.1|floatformat:'1'}} {{geo.length_units}})</td>
            <td colspan="2">{{geo.substations.1.0}}  ({{geo.substations.1.1|floatformat:'1'}} {{geo.length_units}})</td>
            <td colspan="3"></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td colspan="2">{{geo.rockyshores.2.0}}  ({{geo.rockyshores.2.1|floatformat:'1'}} {{geo.length_units}})</td>
            <td colspan="2">{{geo.substations.2.0}}  ({{geo.substations.2.1|floatformat:'1'}} {{geo.length_units}})</td>
            <td colspan="3"></td>
            <td colspan="3"></td>
        </tr>
    </tbody>
</table>



<br></br>
<table class='marinemap-table' rules=rows>
    <thead>
        <tr>
            <th class="geoheader" colspan="4">Geographic Setting</th>
        </tr>
        <tr>
            <th>Adjacent County</th>
            <th>Nearest Ports</th>
            <th>Nearest Incorporated Cities</th>
            <th>Nearest Rocky Shore Areas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td valign="top">     {{geo.county.0}} 
                <br> {{geo.county.1}} 
                <br> {{geo.county.2}}
            </td>
            <td>     {{geo.ports.0.0}}  ({{geo.ports.0.1|floatformat:'1'}}{{geo.length_units}})
                <br> {{geo.ports.1.0}}  ({{geo.ports.1.1|floatformat:'1'}}{{geo.length_units}})
                <br> {{geo.ports.2.0}}  ({{geo.ports.2.1|floatformat:'1'}}{{geo.length_units}})
            </td>
            <td>     {{geo.cities.0.0}}  ({{geo.cities.0.1|floatformat:'1'}}{{geo.length_units}})
                <br> {{geo.cities.1.0}}  ({{geo.cities.1.1|floatformat:'1'}}{{geo.length_units}})
                <br> {{geo.cities.2.0}}  ({{geo.cities.2.1|floatformat:'1'}}{{geo.length_units}})
            </td>
            <td>     {{geo.rockyshores.0.0}}  ({{geo.rockyshores.0.1|floatformat:'1'}}{{geo.length_units}})
                <br> {{geo.rockyshores.1.0}}  ({{geo.rockyshores.1.1|floatformat:'1'}}{{geo.length_units}})
                <br> {{geo.rockyshores.2.0}}  ({{geo.rockyshores.2.1|floatformat:'1'}}{{geo.length_units}})
            </td>
        </tr>
    </tbody>
</table>

<br>
<table class='marinemap-table' rules=rows>
    <thead>
        <tr>
            <th class="geoheader" colspan="5">General Site Characteristics</th>
        </tr>
        <tr>
            <th>Area</th>
            <th>Perimeter</th>
            <th>Intertidal</th>
            <th>Islands</th>
            <th>Percent of Territorial Sea</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{geo.area|floatformat:'2'}} {{geo.area_units}}</td>
            <td>{{geo.perimeter|floatformat:'2'}} {{geo.length_units}}</td>
            <td>{{geo.intertidal}}</td>
            <td>{{geo.islands}}</td>
            <td>{{geo.ratio|floatformat:'2'}}%</td>
        </tr>
    </tbody>
</table>

<!-- Physical Report -->

<div>
    <pdf:nextpage />
</div>


<br></br>
<table class='marinemap-table' rules=rows>
    <thead>
        <tr>
            <th class="phyheader" colspan="7">Intertidal Physical Characteristics</th>
        </tr>
        <tr>
            <th>Length of Intertidal Shoreline</th>
            <th>Percent of Oregon Coast Shoreline</th>
            <th colspan="3">Shoreline Types & Proportions</th>
            <th>Number of Islands</th>
            <th>Total Island Area</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td valign="top">{{phy.length|floatformat:'2'}} {{phy.length_units}}</td>
            {% if phy.percent_shoreline == phy.default_value %}
            <td valign="top">{{phy.default_value}}</td>
            {% else %}
            <td valign="top">{{phy.percent_shoreline|floatformat:'2'}}%</td>
            {% endif %}
            <td valign="top" colspan="3">
                {% for proportion in phy.shoreline_proportions %}
                    {{proportion.0|floatformat:'0'}}% &nbsp; &nbsp; {{proportion.1}} &nbsp; &nbsp; ({{proportion.2|floatformat:'2'}}{{phy.length_units}}) </br>
                {% endfor %}
            </td>
            <td valign="top">{{phy.islands}} islands</td>
            {% if phy.island_area == phy.default_value %}
            <td valign="top">{{phy.default_value}}</td>
            {% else %}
            <td valign="top">{{phy.island_area|floatformat:'3'}} {{phy.area_units}}</td>
            {% endif %}
        </tr>
    </tbody>
</table>

<br>
<table class='marinemap-table' rules=rows>
    <thead>
        <tr>
            <th class="phyheader" colspan="6">Subtidal Physical Characteristics</th>
        </tr>
        <tr>
            <th>Subtidal Area</th>
            <th>Percent Shallow <br/>Percent Deep</th>
            <th colspan="2">Seafloor Lithology</th>
            <th>Average Depth</th>
            <th>Proximity to Shore</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td valign="top">{{phy.subtidal_area|floatformat:'1'}} {{phy.area_units}}</td>
            <td valign="top">{{phy.perc_shallow|floatformat:'1'}}% &nbsp; shallow<br/> {{phy.perc_deep|floatformat:'1'}} % &nbsp; deep</td>
            <td valign="top" colspan="2">
                {% for proportion in phy.lithology_proportions %}
                    {{proportion.0|floatformat:'1'}}% &nbsp; {{proportion.1}} &nbsp; ({{proportion.2|floatformat:'2'}}{{phy.length_units}}) </br>
                {% endfor %}
            </td>
            <td valign="top">{{phy.average_depth|floatformat:'2'}} meters</td>
            <td valign="top">{{phy.distance_to_shore|floatformat:'1'}} {{phy.length_units}}</td>
        </tr>
    </tbody>
</table>

<!-- Biology Report -->

<div>
    <pdf:nextpage />
</div>

<br></br>
<table class='marinemap-table' rules=rows>
    <thead>
        <tr>
            <th class="bioheader" colspan="4">Intertidal Biological Characteristics</th>
        </tr>
        <tr>
            <th>Pinniped Haulouts</th>
            <th>Stellar Sea Lion Rookeries</th>
            <th colspan="2">Bird Colonies</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% if bio.num_haulouts == 0 %}
            <td>No ({{bio.num_haulouts}} haulouts)</td>
            {% else %}
            <td>Yes ({{bio.num_haulouts}} haulouts)</td>
            {% endif %}
            
            {% if bio.num_rookeries == 0 %}
            <td>No ({{bio.num_rookeries}} rookeries)</td>
            {% else %}
            <td>Yes ({{bio.num_rookeries}} rookeries)</td>
            {% endif %}
            
            {% if bio.bird_colonies == 0 %}
            <td colspan="2">No ({{bio.bird_colonies}} colonies) &nbsp;</td>
            {% else %}
            <td colspan="2">Yes ({{bio.bird_colonies}} colonies) &nbsp;</td>
            {% endif %}
        </tr>
    </tbody>
    <thead>
        <tr>
            <th colspan="2">Pinniped Haulout Details</th>
            <th colspan="2">Bird Colony Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td class="top" colspan="2" valign="top">
        {% for site in bio.haulout_sites %}
            {{site.0.0}} , ({{site.0.1}})</br>
            {% for species in site.1 %}
                &nbsp; &nbsp; &nbsp; {{species}} </br>
            {% endfor %}
            </br>
        {% endfor %}
        </td>
        
        <td colspan="2">
        {% for details in bio.bird_details %}
            {{details.0.0}} , (Colony #{{details.0.1}})<br>
            {% for bird in details.1 %}
                {{bird}} &nbsp;
            {% endfor %}
            <br><br>
        {% endfor %}
        </td>
            
        </tr>
    </tbody>
</table>

<br>
<table class='marinemap-table' rules=rows>
    <thead>
        <tr>
            <th class="bioheader" colspan="6">Subtidal Biological Characteristics</th>
        </tr>
        <tr>
            <th colspan="3">Habitat Types & Proportions</th>
            <th colspan="3">Predicted Fish Species <br>(Provided by <a target="_blank" href="http://www.nwfsc.noaa.gov/">NOAA's Northwest Fisheries Science Center)</p></a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3" valign="top" class="top">
            {% for details in bio.habitat_proportions %}
                {{details.0|floatformat:'2'}}% &nbsp; {{details.1}} &nbsp; ({{details.2|floatformat:'2'}} {{bio.area_units}})</br>
            {% endfor %}
            </td>
            <td colspan="3">
            {% for fish in bio.fish_list %}
                {{fish}} &nbsp;
            {% endfor %}
            </td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th colspan="3">Kelp Survey Year</th>
            <th colspan="3">Kelp Proportions</th>
        </tr>
    </thead>
    <tbody>
        {% if bio.kelp_data.0.2 == bio.default_value %}
            <tr>
                <td colspan="3">{{bio.kelp_data.0.0}}</td>
                <td colspan="3"></td>
            </tr>
        {% else %}
            {% for data in bio.kelp_data %}
            <tr class="{% cycle '' 'grey' %}">
                <td colspan="3">{{data.0}}</td>
                <td colspan="3">{{data.1|floatformat:'2'}} {{bio.area_units}} &nbsp; ({{data.2|floatformat:'2'}} % of Proposed Site)</td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
    <thead>
        <tr>
            <th colspan="2">Seagrass Area</th>
            <th colspan="2">Green Sturgeon</th>
            <th colspan="2">Green Sturgeon Area Percentage</th>
        </tr>
    </thead>
    <tbody>
        <tr class="{% cycle '' 'grey' %}">
            <td colspan="2">{{bio.seagrass_area|floatformat:'2'}} {{bio.area_units}}</td>
            <td colspan="2">{{bio.green_sturgeon}}</td>
            <td colspan="2">{{bio.green_sturgeon_perc|floatformat:'1'}} %</td>
        </tr>
        <tr class="{% cycle '' 'grey' %}">
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
        </tr>
    </tbody>
</table>

<br></br>
<table class='marinemap-table' rules=rows>
    <thead>
        <tr>
            <th class="bioheader" colspan="3">Terrestrial and Estuarine Biological Characteristics</font></th>
        </tr>
        <tr>
            <th colspan="1">Nearest Western Snowy Plover Critical Habitat</th>
            <th colspan="1">Nearest Marbled Murrelet Critical Habitat</th>
            <th colspan="1">Nearest Coho Populated Stream</th>
        </tr>
    </thead>
    <tbody>
        <tr class="{% cycle '' 'grey' %}">
            <td colspan="1">{{bio.nearest_snowy_plover|floatformat:'1'}} {{bio.length_units}}</td>
            <td colspan="1">{{bio.nearest_marbled_murrelet|floatformat:'1'}} {{bio.length_units}}</td>
            <td colspan="1">{{bio.nearest_coho_stream|floatformat:'1'}} {{bio.length_units}}</td>
        </tr>
    </tbody>
</table>

<!-- Human Uses Report -->

<br></br>
<table class='marinemap-table' rules=rows>
    <thead>
        <tr>
            <th class="humheader" colspan="3">Community & Recreational Considerations</th>
        </tr>
        <tr>
            <th>Nearest Urban Growth Boundaries</th>
            <th>Nearest State Parks</th>
            <th>Nearest Public Access</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            {% for ugb in hum.urbangrowthboundaries %}
                {{ugb.0}} &nbsp; ({{ugb.1|floatformat:'2'}} {{hum.length_units}})</br>
            {% endfor %}
            </td>
            <td>
            {% for park in hum.parks %}
                {{park.0}} State Park &nbsp; ({{park.1|floatformat:'2'}}{{hum.length_units}})</br>
            {% endfor %}
            </td>
            <td>
            {% for site in hum.access_sites %}
                {{site.0}} &nbsp; ({{site.1|floatformat:'1'}}{{hum.length_units}})</br>
            {% endfor %}
            </td>
        </tr>
    </tbody>
</table>

<br>
<table class='marinemap-table' rules=rows>
    <thead>
        <tr>
            <th class="humheader" colspan="15">Existing or Proposed Transportation & Infrasructure Considerations</th>
        </tr>
        <tr>
            <th colspan="4">Intersecting Aiports</th>
            <th colspan="4">Buoys</th>
            <th colspan="4">Beacons</th>
            <th colspan="3">Signal Equipment</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td valign="top" colspan="4">{% for airport in hum.intersecting_airports %} {{airport}}<br>{% endfor %}</td>
            <td valign="top" colspan="4">{{hum.buoy_data.0}}</td>
            <td valign="top" colspan="4">{{hum.beacon_data.0}}</td>
            <td valign="top" colspan="3">{{hum.signal_data.0}}</td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th colspan="4">Nearest Airport</th>
            
            {% if hum.buoy_data.0 == 'Yes' %}
                <th colspan="4">Intersecting Buoys</th>
            {% else %}
                <th colspan="4">Closest Buoy</th>
            {% endif %}
            
            {% if hum.beacon_data.0 == 'Yes' %}
                <th colspan="4">Intersecting Beacons</th>
            {% else %}
                <th colspan="4">Closest Beacon</th>
            {% endif %}
            
            <th colspan="3">Signal Equipment Count</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td valign="top" colspan="4">{{hum.nearest_airport.0}} ({{hum.nearest_airport.1|floatformat:'1'}} {{hum.length_units}})</td>
            <td valign="top" colspan="4">
                {% if hum.buoy_data.0 == 'Yes' %}
                    {% for data in hum.buoy_data.1 %}
                        {{data}}</br>
                    {% endfor %}
                {% else %}
                    {{hum.buoy_data.1.0}} ({{hum.buoy_data.1.1|floatformat:'2'}}{{hum.length_units}})
                {% endif %}
            </td>
            <td valign="top" colspan="4">
                {% if hum.beacon_data.0 == 'Yes' %}
                    {% for data in hum.beacon_data.1 %}
                        {{data}}</br>
                    {% endfor %}
                {% else %}
                    {{hum.beacon_data.1.0}} ({{hum.beacon_data.1.1|floatformat:'2'}}{{hum.length_units}})
                {% endif %}
            </td>
            <td valign="top" colspan="3">{{hum.num_signals}}</td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th class="humheader" colspan="15">Existing or Proposed Transportation & Infrasructure Considerations</th>
        </tr>
        <tr>
            <th colspan="3">Dredge Materials Disposal</th>
            <th colspan="3">NPDES Outfall</th>
            <th colspan="3">Undersea Cables</th>
            <th colspan="3">Towlanes</th>
            <th colspan="3">Wave Energy</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3">{{hum.dmd_data.0}}</td>
            <td colspan="3">{{hum.outfall_data.0}}</td>
            <td colspan="3">{{hum.cable_data.0}}</td>
            <td colspan="3">{{hum.towlanes}}</td>
            <td colspan="3">{{hum.wave_energy_data.0}}</td>
        </tr>
    </tbody>
    <thead>
        <tr>
            {% if hum.dmd_data.0 == 'Yes' %}
                <th colspan="3">Intersecting DMD Sites</th>
            {% else %}
                <th colspan="3">Closest DMD Sites</th>
            {% endif %}
            
            {% if hum.outfall_data.0 == 'Yes' %}
                <th colspan="3">Intersecting Outfall Sites</th>
            {% else %}
                <th colspan="3">Closest Outfall</th>
            {% endif %}
            
            {% if hum.cable_data.0 == 'Yes' %}
                <th colspan="3">Intersecting Cables</th>
            {% else %}
                <th colspan="3">Closest Cable</th>
            {% endif %}
            
            <th colspan="3"></th>
            
            {% if hum.wave_energy_data.0 == 'Yes' %}
                <th colspan="3">Intersecting Wave Energy</th>
            {% else %}
                <th colspan="3">Closest Wave Energy</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td valign="top" colspan="3">
                {% if hum.dmd_data.0 == 'Yes' %}
                    {% for data in hum.dmd_data.1 %}
                        {{data}}</br>
                    {% endfor %}
                {% else %}
                    {{hum.dmd_data.1.0}} ({{hum.dmd_data.1.1|floatformat:'2'}}{{hum.length_units}})
                {% endif %}
            </td>
            <td valign="top" colspan="3">
                {% if hum.outfall_data.0 == 'Yes' %}
                    {% for data in hum.outfall_data.1 %}
                        {{data}}</br>
                    {% endfor %}
                {% else %}
                    {{hum.outfall_data.1.0}} ({{hum.outfall_data.1.1|floatformat:'2'}}{{hum.length_units}})
                {% endif %}
            </td>
            <td valign="top" colspan="3">
                {% if hum.cable_data.0 == 'Yes' %}
                    {% for data in hum.cable_data.1 %}
                        {{data}}</br>
                    {% endfor %}
                {% else %}
                    {{hum.cable_data.1.0}} ({{hum.cable_data.1.1|floatformat:'2'}}{{hum.length_units}})
                {% endif %}
            </td>
            <td colspan="3"></td>
            <td valign="top" colspan="3">
                {% if hum.wave_energy_data.0 == 'Yes' %}
                    {% for data in hum.wave_energy_data.1 %}
                        {{data}}</br>
                    {% endfor %}
                {% else %}
                    {{hum.wave_energy_data.1.0.0}} ({{hum.wave_energy_data.1.0.1|floatformat:'2'}}{{hum.length_units}})
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<br>
<table class='marinemap-table' rules=rows>
    <thead>
        <tr>
            <th class="humheader" colspan="7">Fishery Considerations</th>
        </tr>
        <tr>
            <th>Proximity to Ports</th>
            <th colspan="2">Proximity to Existing State MMAs</th>
            <th colspan="2">Proximity to ODFW Closures</th>
            <th colspan="2">Proximity to EFH Conservation Areas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td valign="top">
                {% for port in hum.nearest_ports %}
                    {{port.0}} ({{port.1|floatformat:'1'}}{{hum.length_units}})</br>
                {% endfor %}
            </td>
            <td valign="top" colspan="2">
                {% for mma in hum.nearest_mmas %}
                    {{mma.0}} ({{mma.1|floatformat:'1'}}{{hum.length_units}})</br>
                {% endfor %}
            </td>
            <td valign="top" colspan="2">
                {% for closure in hum.nearest_closures %}
                    {{closure.0}} ({{closure.1|floatformat:'1'}}{{hum.length_units}})</br>
                {% endfor %}
            </td>
            <td valign="top" colspan="2">
                {% for area in hum.nearest_conservation_areas %}
                    {{area.0}} ({{area.1|floatformat:'1'}}{{hum.length_units}})</br>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>

<br></br>
<br></br>

</div>

<style type="text/css">
div.img img.aoi {
    zoom: 80%;
}

div.img img.sr {
    zoom: 80%;
    vertical-align: text-top;
}

table.summary-table {
    font-family:helvetica;
    font-size:11px;
}

table.marinemap-table {
    font-size:9px;
    width:100%;
    border:solid 1px #fff;
    margin:3px;
    padding-top:3px;
}

table.marinemap-table th.geoheader {
    background-color:#518E58;
    color:#B0B0B0;
    font-family:helvetica;
    font-weight:bold;
}

table.marinemap-table th.phyheader {
    background-color:#4D50DF;
    color:#B0B0B0;
    font-family:helvetica;
    font-weight:bold;
}

table.marinemap-table th.bioheader {
    background-color:#95291A;
    color:#B0B0B0;
    font-family:helvetica;
    font-weight:bold;
}

table.marinemap-table th.humheader {
    background-color:#FEAB30;
    color:#F0F0F0;
    font-family:helvetica;
    font-weight:bold;
}

table.marinemap-table th {
    background-color:#D0D0D0;
    color:#344E63;
}

table.marinemap-table th.left {
    background-color:#D0D0D0;
    color:#344E63;
    font-weight:bold;
    text-align:left;
}

table.marinemap-table td {
    background-color:#EBF5F5;
    color:#344E63;
    text-align:center;
}

table.marinemap-table td.left {
    background-color:#EBF5F5;
    color:#344E63;
    text-align:left;
    vertical-align: text-top;
}

table.marinemap-table td.top {
    background-color:#EBF5F5;
    color:#344E63;
    vertical-align: text-top;
}

table.marinemap-table thead tr {
    background:#FAFAFA url(../images/toolbar-bg.png) repeat-x scroll left bottom;
    text-align:center;
}

table.marinemap-table tbody {
    background-color:white;
}

table.marinemap-table tr.zebra {
    background-color:#eee;
}
</style>


