<h1 align="center">{{ aes.name }} Geography Analysis Report</h1>

<div class="img" align="middle">
    <img align="top" src="{% url staticmap-show 'default' %}?mpas={{ aes.id }}&amp;autozoom=true&amp;width=308&amp;height=400">
    &nbsp; &nbsp;
    <img align="top" src="{% url staticmap-show 'default' %}?mpas={{ aes.id }}&amp;width=154&amp;height=200">
</div>

<div class="freetext">
<h4>Report Summary</h4>
<table class='allowed_uses'>
<tr><td width=150>Type:</td><td>Geography</td></tr>
<tr><td width=150>Nearshore Habitat:</td><td>{{ aes.name }}</td></tr>
<tr><td width=150>ID #:</td><td>{{ aes.id }}</td></tr>
</table>
</div>

<div class='freetext'>
<br></br>
<table class='marinemap-table' rules=rows>
    <thead>
        <tr>
            <th class="geoheader" colspan="7">Geographic Setting</font></th>
        </tr>
        <tr>
            <th>Adjacent County</th>
            <th>Nearest Ports</th>
            <th>Nearest Incorporated Cities</th>
            <th>Nearest Rocky Shore Areas</th>
            <th>Nearest Electical Substations</th>
            <th>Nearest Transmission Line (1993)</th>
            <th>Nearest Transmission Line (2010)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{county.0}}</td>
            <td>{{ports.0.0}}  ({{ports.0.1|floatformat:'1'}} {{length_units}})</td>
            <td>{{cities.0.0}}  ({{cities.0.1|floatformat:'1'}} {{length_units}})</td>
            <td>{{rockyshores.0.0}}  ({{rockyshores.0.1|floatformat:'1'}} {{length_units}})</td>
            <td>{{substations.0.0}}  ({{substations.0.1|floatformat:'1'}} {{length_units}})</td>
            <td>{{transmissionline1993|floatformat:'1'}} {{length_units}}</td>
            <td>{{transmissionline2010.0.0}}  ({{transmissionline2010.0.1|floatformat:'2'}} {{length_units}})</td>
        </tr>
        <tr>
            <td>{{county.1}}</td>
            <td>{{ports.1.0}}  ({{ports.1.1|floatformat:'1'}} {{length_units}})</td>
            <td>{{cities.1.0}}  ({{cities.1.1|floatformat:'1'}} {{length_units}})</td>
            <td>{{rockyshores.1.0}}  ({{rockyshores.1.1|floatformat:'1'}} {{length_units}})</td>
            <td>{{substations.1.0}}  ({{substations.1.1|floatformat:'1'}} {{length_units}})</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>{{county.2}}</td>
            <td>{{ports.2.0}}  ({{ports.2.1|floatformat:'1'}} {{length_units}})</td>
            <td>{{cities.2.0}}  ({{cities.2.1|floatformat:'1'}} {{length_units}})</td>
            <td>{{rockyshores.2.0}}  ({{rockyshores.2.1|floatformat:'1'}} {{length_units}})</td>
            <td>{{substations.2.0}}  ({{substations.2.1|floatformat:'1'}} {{length_units}})</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<br></br>
<table class='marinemap-table' rules=rows>
    <thead>
        <tr>
            <th class="geoheader" colspan="5">General Site Characteristics</font></th>
        </tr>
        <tr>
            <th>Area</th>
            <th>Perimeter</th>
            <th>Intertidal</th>
            <th>Islands</th>
            <th>Percent of Territorial Sea</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{area|floatformat:'2'}} ({{area_units}})</td>
            <td>{{perimeter|floatformat:'2'}} ({{length_units}})</td>
            <td>{{intertidal}}</td>
            <td>{{islands}}</td>
            <td>{{ratio|floatformat:'2'}} %</td>
        </tr>
    </tbody>
</table>
<br></br>

</div>

<style type="text/css">
div.img {
    margin-left: auto;
    margin-right: auto;
    zoom: 80%;
}

table.marinemap-table {
    font-size:12px;
    width:100%;
    border:solid 1px #ccc;
    margin:5px;
    padding-top:4px;
}

table.marinemap-table th.geoheader {
    background-color:#518E58;
    color:#B0B0B0;
    font-family:helvetica;
    font-weight:bold;
}

table.marinemap-table th {
    background-color:#D0D0D0;
    color:#344E63;
    font-weight:bold;
}

table.marinemap-table th.left {
    background-color:#D0D0D0;
    color:#344E63;
    font-weight:bold;
    text-align:left;
}

table.marinemap-table td {
    background-color:#EBF5F5;
    color:#344E63;
    font-weight:bold;
    text-align:center;
}

table.marinemap-table td.left {
    background-color:#EBF5F5;
    color:#344E63;
    font-weight:bold;
    text-align:left;
}

table.marinemap-table thead tr {
    background:#FAFAFA url(../images/toolbar-bg.png) repeat-x scroll left bottom;
    text-align:center;
}

table.marinemap-table tbody {
    background-color:white;
}

table.marinemap-table tr.zebra {
    background-color:#eee;
}
</style>


