{% extends 'printable_geo_report.html' %}

<!-- Inheriting General Spatial Characteristics from printable_geo_report -->

{% block OtherGeography %}
<br></br>
<table class='printable-report-table' rules=rows>
    <thead>
        <tr>
            <th class="geoheader" colspan="5">Geographic Setting</font></th>
        </tr>
        <tr>
            <th>Adjacent County</th>
            <th>Nearest Cities</th>
            <th>Nearest Ports</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{geo.county.0}}</td>
            <td>{{geo.cities.0.0}} &nbsp; ({{geo.cities.0.1|floatformat:'1'}} {{geo.length_units}})</td>
            <td>{{geo.ports.0.0}}  ({{geo.ports.0.1|floatformat:'1'}} {{geo.length_units}})</td>
        </tr>
        <tr>
            <td>{{geo.county.1}}</td>
            <td>{{geo.cities.1.0}} &nbsp; ({{geo.cities.1.1|floatformat:'1'}} {{geo.length_units}})</td>
            <td>{{geo.ports.1.0}}  ({{geo.ports.1.1|floatformat:'1'}} {{geo.length_units}})</td>
        </tr>
        <tr>
            <td>{{geo.county.2}}</td>
            <td>{{geo.cities.2.0}} &nbsp; ({{geo.cities.2.1|floatformat:'1'}} {{geo.length_units}})</td>
            <td>{{geo.ports.2.0}}  ({{geo.ports.2.1|floatformat:'1'}} {{geo.length_units}})</td>
        </tr>
    </tbody>
</table>
<table class='printable-report-table' rules=rows>
    <thead>
        <tr>
            <th>Nearest Marinas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{geo.marinas.0.0}}  ({{geo.marinas.0.1|floatformat:'1'}} {{geo.length_units}})</td>
        </tr>
        <tr>
            <td>{{geo.marinas.1.0}}  ({{geo.marinas.1.1|floatformat:'1'}} {{geo.length_units}})</td>
        </tr>
        <tr>
            <td>{{geo.marinas.2.0}}  ({{geo.marinas.2.1|floatformat:'1'}} {{geo.length_units}})</td>
        </tr>
        <tr><td></td></tr>
    </tbody>
</table>
{% endblock OtherGeography %}
