{% extends 'common/panel.html' %}

{% block panel %}

{% block GeneralSpatial %}
<h3>General Spatial Characteristics</h3>
<div class='freetext'>
<p>
<table  style='width:450px' class='aoi_analysis_container'>
    <tbody>
        <tr class="grey">
            <td><b>Area</b></td>
            <td></td>
            <td><b>Perimeter</b></td>
        </tr>
        <tr>
            <td>{{area|floatformat:'2'}} {{area_units}}</td>
            <td></td>
            <td>{{perimeter|floatformat:'2'}} {{length_units}}</td>
        </tr>
        <p>
        <tr class="grey">
            <td><b>Intertidal</b></td>
            <td></td>
            <td><b>Islands</b></td>
        </tr>
        <tr>
            <td>{{intertidal}}</td>
            <td></td>
            <td>{{islands}}</td>
        </tr>
        <p>
        <tr class="grey">
            <td></td>
            <td></td>
            <td><b>Percent of Territorial Sea</b></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>{{ratio|floatformat:'2'}} %</td>
        </tr>
    </tbody>
</table>
</div>
{% endblock GeneralSpatial %}

{% block GeographicSetting %}
{% endblock GeographicSetting %}

{% block ExportableReports %}
{% endblock ExportableReports %}

{% endblock panel %}

