{% extends 'common/panel.html' %}
{% block title %}{{aoi.name}} Biological Analysis{% endblock title %}
{% block panel %}
<h3>Community & Recreational Considerations</h3>
<div class='freetext'>
<br>
<table  style='width:450px' class='impact_analysis_container'>
    <tbody>
        <tr class="grey">
            <td><b>Nearest State Parks</b></td>
            <td></td>
            <td><b>Distances</b></td>
        </tr>
        {% for park in parks %}
        <tr class="{% cycle '' 'grey' %}">
            <td>{{park.0}}</td>
            <td></td>
            <td>{{park.1|floatformat:'1'}} {{length_units}}</td>
        </tr>
        {% endfor %}
        <tr><td></td><td></td><td></td><td></td></tr>
        <tr class="grey">
            <td><b>Nearest Public Access Sites</b></td>
            <td></td>
            <td><b>Distances</b></td>
        </tr>
        {% for site in access_sites %}
        <tr class="{% cycle '' 'grey' %}">
            <td>{{site.0}}</td>
            <td></td>
            <td>{{site.1|floatformat:'1'}} {{length_units}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<h3>Existing or Proposed Transportation & Infrastructure Considerations</h3>
<div class='freetext'>
<br>
<table  style='width:450px' class='impact_analysis_container'>
    <tbody>
        <tr class="grey">
            <td><b>Dredge Materials Disposal Sites</b></td>
            <td></td>
            <td></td>
        </tr>
        {% if dmd_sites.0 != '---' %}
            {% for site in dmd_sites %}
            <tr class="{% cycle '' 'grey' %}">
                <td>{{site}}</td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
            <tr><td></td><td></td><td></td><td></td></tr>
        {% else %}
            <tr>
                <td>{{dmd_sites.0}}</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="grey">
                <td><b>Nearest DMD Sites</b></td>
                <td></td>
                <td><b>Distances</b></td>
            </tr>
            {% for site in nearest_dmds %}
            <tr class="{% cycle '' 'grey' %}">
                <td>{{site.0}}</td>
                <td></td>
                <td>{{site.1|floatformat:'1'}} {{length_units}}</td>
            </tr>
            {% endfor %}
            <tr><td></td><td></td><td></td><td></td></tr>
        {% endif %}
        <tr class="grey">
            <td><b>NPDES Outfall</b></td>
            <td></td>
            <td><b>Closest Outfall</b></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="grey">
            <td><b>Undersea Cables</b></td>
            <td></td>
            <td><b>Closest Cable</b></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="grey">
            <td><b>Towlanes</b></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="grey">
            <td><b>Wave Energy</b></td>
            <td></td>
            <td><b>Closest Wave Energy</b></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>

<h3>Fishery Considerations</h3>
<div class='freetext'>
<br>
<table  style='width:450px' class='impact_analysis_container'>
    <tbody>
        <tr class="grey">
            <td><b>Proximity to Ports</b></td>
            <td></td>
            <td><b>Proximity to Existing State MMA</b></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="grey">
            <td><b>Proximity to ODFW Closures</b></td>
            <td></td>
            <td><b>Proximity to EFH Conservation Areas</b></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>

<br>
{% endblock panel %}

