
{% if type != 'all' %}
{% block Header %}
<h1 align="center">{{title}} Physical Analysis Report for {{ aoi.name }}</h1>

<div align="middle" >
    <img align="top" src="{% url staticmap-show 'default' %}?uids={{ aoi.uid }}&amp;autozoom=true&amp;width=308&amp;height=400">
    &nbsp; &nbsp;
    <img align="top" src="{% url staticmap-show 'default' %}?uids={{ aoi.uid }}&amp;width=154&amp;height=200&amp;show_extent=True">
</div>

{% endblock Header %}
{% endif %}

<div class='freetext'>

{% block IntertidalPhysical %}
<br></br>
<table class='printable-report-table' rules=rows>
    <thead>
        <tr>
            <th class="phyheader" colspan="5"><font color="#B0B0B0" size="2" face="helvetica">Intertidal Physical Characteristics</font></th>
        </tr>
        <tr>
            <th>Length of Intertidal Shoreline</th>
            <th>Percent of Oregon Coast Shoreline</th>
            <th>Shoreline Types & Proportions</th>
            <th>Number of Islands</th>
            <th>Total Island Area</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="top">{{phy.length|floatformat:'2'}} ({{phy.length_units}})</td>
            <td class="top">
            {% if phy.percent_shoreline == phy.default_value %}
                {{phy.default_value}}
            {% else %}
                {{phy.percent_shoreline|floatformat:'2'}} %
            {% endif %}
            </td>
            <td>
            {% if phy.shoreline_proportions.0.1 == phy.default_value %}
                {{phy.default_value}}
            {% else %}
            {% for proportion in phy.shoreline_proportions %}
                {{proportion.0|floatformat:'0'}}% &nbsp; &nbsp; {{proportion.1}} &nbsp; &nbsp; ({{proportion.2|floatformat:'2'}} {{phy.length_units}}) </br>
            {% endfor %}
            {% endif %}
            </td>
            <td class="top">{{phy.islands}} islands</td>
            {% if phy.island_area == phy.default_value %}
            <td class="top">{{phy.default_value}}</td>
            {% else %}
            <td class="top">{{phy.island_area|floatformat:'3'}} ({{phy.area_units}})</td>
            {% endif %}
        </tr>
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
    </tbody>
</table>
{% endblock IntertidalPhysical %}

{% block SubtidalPhysical %}
<br></br>
<table class='printable-report-table' rules=rows>
    <thead>
        <tr>
            <th class="phyheader" colspan="6">Subtidal Physical Characteristics</font></th>
        </tr>
        <tr>
            <th>Subtidal Area</th>
            <th>Percent Shallow <br/>Percent Deep</th>
            <th>Seafloor Lithology</th>
            <th>Average Depth</th>
            <th>Min Depth <br/> Max Depth</th>
            <th>Proximity to Shore</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="top">{{phy.subtidal_area|floatformat:'1'}} ({{phy.area_units}})</td>
            <td class="top">
            {% if phy.subtidal_area == 0.0 %}
                {{phy.default_value}}
            {% else %}
                {{phy.perc_shallow|floatformat:'1'}} % &nbsp; shallow<br/> {{phy.perc_deep|floatformat:'1'}} % &nbsp; deep
            {% endif %}
            </td>
            <td class="top">
            {% if not phy.lithology_proportions.0 %}
                {{phy.default_value}}
            {% endif %}
            {% for proportion in phy.lithology_proportions %}
                {{proportion.0|floatformat:'1'}}% &nbsp; {{proportion.1}} &nbsp; ({{proportion.2|floatformat:'2'}} {{phy.area_units}}) </br>
            {% endfor %}
            </td>
            {% if phy.subtidal_area == 0.0 %}
            <td class="top">{{phy.default_value}}</td>
            <td class="top">{{phy.default_value}}</td>
            {% else %}
            <td class="top">{{phy.average_depth|floatformat:'1'}} meters</td>
            <td class="top">{{phy.min_depth|floatformat:'1'}} meters <br/> {{phy.max_depth|floatformat:'1'}} meters</td>
            {% endif %}
            <td class="top">{{phy.distance_to_shore|floatformat:'1'}} ({{phy.length_units}})</td>
        </tr>
        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    </tbody>
</table>
{% endblock SubtidalPhysical %}

<br></br>

</div>

{% if not pdf %}
{% block CSS %}
<style type="text/css">
table.printable-report-table {
    font-size:12px;
    width:100%;
    border:solid 1px #fff;
    margin:3px;
}

table.printable-report-table th.phyheader {
    background-color:#4D50DF;
    color:#B0B0B0;
    font-family:helvetica;
    font-weight:bold;
}

table.printable-report-table th {
    background-color:#D0D0D0;
    color:#344E63;
    font-weight:bold;
}

table.printable-report-table td {
    background-color:#EBF5F5;
    color:#344E63;
    font-weight:bold;
    text-align:center;
}

table.printable-report-table td.left {
    background-color:#EBF5F5;
    color:#344E63;
    font-weight:bold;
    text-align:left;
    vertical-align: text-top;
}

table.printable-report-table td.top {
    background-color:#EBF5F5;
    color:#344E63;
    font-weight:bold;
    vertical-align: text-top;
}

table.printable-report-table thead tr {
    background:#FAFAFA url(../images/toolbar-bg.png) repeat-x scroll left bottom;
    text-align:center;
}

table.printable-report-table tbody {
    background-color:white;
}

table.printable-report-table tr.zebra {
    background-color:#eee;
}
</style>
{% endblock CSS %}
{% endif %}


