{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="../../">
        {% trans "Home" %}
      </a>
       &rsaquo; 
       <a href="../">
         {{ app_label|capfirst }}
      </a>
      &rsaquo; 
      {{ cl.opts.verbose_name_plural|capfirst }}
    </div>
  {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      
      <form action="../../../analysis/adminClearNShCache/geo/" method="post">{% csrf_token %}
      {% if cl.formset %}
        {{ cl.formset.management_form }}
      {% endif %}
      Remove Nearshore Habitat Cache Data Related to Geography:  
      <input type="submit" value="Clear Geography Cache">
      </form>
      
      <form action="../../../analysis/adminClearNShCache/phy/" method="post">{% csrf_token %}
      {% if cl.formset %}
        {{ cl.formset.management_form }}
      {% endif %}
      Remove Nearshore Habitat Cache Data Related to Physical:  
      <input type="submit" value="Clear Physical Cache">
      </form>
      
      <form action="../../../analysis/adminClearNShCache/bio/" method="post">{% csrf_token %}
      {% if cl.formset %}
        {{ cl.formset.management_form }}
      {% endif %}
      Remove Nearshore Habitat Cache Data Related to Biology:  
      <input type="submit" value="Clear Biology Cache">
      </form>
      
      <form action="../../../analysis/adminClearNShCache/hum/" method="post">{% csrf_token %}
      {% if cl.formset %}
        {{ cl.formset.management_form }}
      {% endif %}
      Remove Nearshore Habitat Cache Data Related to Human Uses:  
      <input type="submit" value="Clear Human Use Cache">
      </form>
      
      <form action="../../../analysis/adminClearNShCache/all/" method="post">{% csrf_token %}
      {% if cl.formset %}
        {{ cl.formset.management_form }}
      {% endif %}
      Remove All Nearshore Habitat Cache Data:  
      <input type="submit" value="Clear All Cache">
      </form>
      WARNING:  This will remove all cached data related to Nearshore Habitats!
    </div>
  </div>
{% endblock %}
